body{
    background-color: black; //#363738;
    padding-top: 60px;
}

.carlo{
	width:100%;
	height:100%;
	padding-top: 10px;
}

.carlo2{
	position: relative;
	margin-left: 330px;
	right: 10px;
	margin-bottom: 10px;
	min-height:500px;
	background-color: rgba(0, 0, 0, .6);
	border: 3px solid black;
	border: 2px solid rgba(0, 0, 0, 1);
}

.carlo3{
	position: fixed;
	left: 10px;
	top: 150px;
	width: 300px;
	//background-color: #777;
	background-color: rgba(0, 0, 0, .8);
	//border: 3px solid #424242;
	border: 3px solid black;
	opacity: 0.9;
	display: block;
	text-align: center;
}

.ogg{
	border: 1px solid black;
	font-family: std;
	font-size: 48px;
	color: #555;
	overflow: auto;
	text-shadow: 2px 0 #222;
}
.ogg img{ 
	padding-left: 15px;
	padding-right: 15px;
}

.und{
	//text-align: center;
}

.lx{
	float: left;
}

.prez{
	font-size: 36px;
	position: relative;
	left:2%;
	width:98%;
}

.desc{
	font-size: 26px;
	display: inline;
}
.amma{
	float: right;
	font-size:20px;
	
}
.vegas{
	color: #888 !important;
}
.redgradient{
	background: linear-gradient(to top, #c20707, #3b0202);
}

.who2{
	width: 80%;
	margin: auto;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: rgba(0, 0, 0, .6);
	border: 2px solid rgba(0, 0, 0, 1);
}

.lololo{
	padding-top: 40px;
	padding-bottom: 40px;
}

@media screen and (max-width: 680px) {
	.carlo3{width:280px;}
	.carlo2{margin-left:310px;}
}

