body{
	margin: 0px;
	//overflow: hidden;
	padding-top:0px;
}

.module{
	background: linear-gradient(to top, #910505, black);
	//height: 800px;
	//width: 1200px;
}

.alfa{
	text-align: center;
	display: inline;
    position:relative;
}

.tyy{
    text-shadow: 0 0 10px #000000;
    filter: brightness(0.8);
    opacity: 0.9;
}

.titolo{
	font-size: 120px;
    letter-spacing: 5px;
    word-spacing: 20px;
    font-family: Horror;
}

.uno{color: #910505;}

label{
	color: #777777;
    font-family: std;
    font-size: 24px;
    font-weight: 100;
    text-shadow: 0 0 6px #000000;
}

.kylo{
	color: #777777;
    font-family: std;
    font-size: 48px;
    font-weight: 100;
    text-shadow: 0 0 6px #000000;
}

.kylobot{
	color: #777777;
    font-family: std;
    font-size: 28px;
    font-weight: 100;
    text-shadow: 0 0 6px #000000;
}

.boxes{
	background-color: #777;
	outline-color: #777;
    border-color: #777;
}
.boxes:focus{
    outline-color: #910505;
    border-color: #910505;
}
.bottoni{
    background-color: #910505;
    font-family: std;
    font-size: 18px;
    border-color: black;
    width: 90px;
    height: 30px;
}
.bottoni:focus{
    outline-color: black;
    border-color: black;
    background-color: black;
    color: #910505;
}
