body{
    background-color: black; //#363738;
    padding-top: 60px;
}

.incima{
    position: fixed;
    top: 0%;
    width: 100%;
    height: 9.2%;
//background-color: #2d2d2d;
    background-color: black;
    transition:0.8s;
    transition-timing-function: ease-in;
    z-index:18;
}

.incima:hover{
    background-color: #1c1c1c;
    transition:1.3s;
    transition-timing-function: ease-out;
}

.ulri{
    display:flex;
    list-style:none;
    width: 80%;
    z-index: 2;
    position: fixed;
    top: 0%;
    padding-left: 20%;
    height: 9.2%;
}

.ulgin{
    display:flex;
    list-style:none;
    z-index: 2;
    position: fixed;
    top: 0%;
    right: 2%;
    height: 9.2%;
}

.mdx{
    margin-right: 30px;
}

.login{
    color: #777777;
    text-shadow: 0 0 7px black;
    text-align: center;
}

.rad{
    top: 0%;
//padding: 15px;
}


a.rad:link, a.rad:visited {
    color: #777777;
    text-shadow: 0 0 7px black;
    text-align: center;
}

a.rad:hover, a.rad:active {
    color: #333333;
    text-decoration: none;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.line{
//display:inline;
}

.logo{
    z-index: 2;
    position: fixed;
    top: 0%;
    left: 144px;
    height: 9%;
    padding-left: 15px;
    opacity: 0.8;
}

.mezzo{
    display: inline;
    height: 60px;
    line-height: 35px;
    padding-left: 15px;
    font-size: 215%;
}

.azk{
    position: fixed;
    top: 2.3%;
    left: 65px;
    z-index:3;
    letter-spacing: 3px;
    word-spacing: 20px;
    font-family: Horror;
}

.azk:hover{
    text-decoration: none;
}

.tyy{
    text-shadow: 0 0 10px #000000;
    filter: brightness(0.8);
    opacity: 0.9;
}

li a {
    height: 60px;
    line-height: 35px;
    font-family: std;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1px;
    text-shadow: 0 0 6px #000000;
}

.opulence{
    padding: 15px;
}

li.opulence:hover{
    background-color: black;
    transition:0.5s;
}

.carrello{
    position: absolute;
    top:0%;
    z-index: 8;
    right: 20%;
    opacity: 0.4;
}

.pp{
    width:60px;
    height:60px;
    padding: 5px;
    margin: 0;
    border: 0;
    outline: 0;
    transition: 0.3s;
    transition-timing-function: ease-out;
}

.pp:hover{
    padding:1px;
}


img.navbar-brand{
    display: block;
    position: absolute;

    width:76px;
    height:60px;
    padding: 0;
    padding-left:15px;
    margin: 0;
    border: 0;
    outline: 0;
    left: 110px;
    filter: contrast(1.1);
    opacity: 0.5;
}

.hidfix{
    position: fixed;
    width: 225px;
    top:9.2%;
    background-color: #1c1c1c;
    right:2%;
    z-index: 20;
    display:none;
    text-align: center;
}

.loggg{
    height: 60px;
    line-height: 35px;
    font-family: std;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 1px;
    text-shadow: 0 0 6px #000000;
}

.alfa{
    width: 60%;
    left: 20%;
    display: inline;
    position:relative;
}

.hilo{
    width:100%;
    height: auto;
    text-align:center;
    background: linear-gradient(to top, black, #6B0000);
}

.hilo2{
    width:100%;
    height: auto;
    text-align:center;
    background: linear-gradient(to top, black, #212121);
}

.sociallogo{
    position: relative;
    left: 5%;
    width:30%;
}
hr{
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid;
    color: black;
}

.csttl{
    font-size: 48px;
    text-align: center;
    font-family: std;
}

.cstxt{
    font-size: 24px;
    text-align: justify;
    font-family: std;
    color: #777;
    margin-bottom: 0px;
}

.who{
    width: 80%;
    margin: auto;
}

.vr{
    display: inline;
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         500px;
    width:          700px;
    margin-left:5px;
    margin-right: 6px;
}

.fotlog{
    font-family:horror;
    font-size: 36px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 20px;

    text-shadow: 0 0 6px #000000;
}
.minitxt{
    font-family: std;
    font-size: 16px;
    text-align: center;
}

.inlo{
    border: none;
    border-bottom: 3px double #910505;
    outline: none;
    color: #bababa;
    background-color: #1c1c1c;
}

.jum{
    position: relative;
    top: 10px;
    width:100%;
    text-align: center;
    font-size: 32px;
    font-family: std;
    color: #777;
    margin-bottom: 5px;
}

.bbk{
    border: 2px solid black;
}

.bolo{
    background-color: #910505;
    font-family: std;
    font-size: 18px;
    color: black;
    border-color: black;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.bolo:focus{
    outline:none;
    background-color: black;
    color: #910505;
}
.whitebolo{
    background-color: #bababa;
    font-family: std;
    font-size: 18px;
    color: black;
    border-color: black;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.whitebolo:focus{
    outline:none;
    background-color: black;
    color: #bababa;
}

.baba{
    color: #bababa;
    font-size: 14px;
}